XSD 2061 v7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +  BANCO CENTRAL DO BRASIL                                           + -->
<!-- +  Projeto Limites Operacionais                                      + -->
<!-- +  Documento DLO 2061 - definicao xml schema                         + -->
<!-- +  Leiautes por data-base:  07/2021 e seguintes                      + -->
<!-- +  Atualizado em 09/07/2021                                          + -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- ********************************** -->
<!-- Definicao para o Documento         -->
<!-- ********************************** -->

<xs:element name="documentoDLO" type="documento"/>
<xs:complexType name="documento">
	<xs:sequence>
		<xs:element ref="limitesInformados" minOccurs="1" maxOccurs="1"/>
		<xs:element ref="parametros" minOccurs="1" maxOccurs="1"/>
		<xs:element ref="contas" minOccurs="1" maxOccurs="1"/>
	</xs:sequence>
	<xs:attribute ref="cnpj" use="required"/>
	<xs:attribute ref="dataBase" use="required"/>
	<xs:attribute ref="codigoDocumento" use="required"/>
	<xs:attribute ref="tipoEnvio" use="required"/>
	<xs:attribute ref="codigoConglomerado" use="optional"/>
</xs:complexType>

<xs:attribute name="codigoDocumento" type="tipoCodigoDocumento"/>
<xs:simpleType name="tipoCodigoDocumento">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[0-9][0-9][0-9][0-9]"/>
		<xs:minLength value="4"/>
		<xs:maxLength value="4"/>
  </xs:restriction>
</xs:simpleType>

<xs:attribute name="tipoEnvio" type="tipoRemessa"/>
<xs:simpleType name="tipoRemessa">
  <xs:restriction base="xs:string">
	<xs:whiteSpace value="collapse" />
	<xs:enumeration value="I"/>
	<xs:enumeration value="D"/>
	<xs:enumeration value="E"/>
  </xs:restriction>
</xs:simpleType>

<xs:attribute name="dataBase" type="tipoDataMesAno"/>
<xs:simpleType name="tipoDataMesAno">
	<xs:restriction base="xs:gYearMonth">
		<xs:minInclusive value="2008-07"/>
		<xs:maxExclusive value="2050-01"/>
	</xs:restriction>
</xs:simpleType>

<xs:attribute name="cnpj" type="tipoCNPJ"/>
<xs:simpleType name="tipoCNPJ">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		<xs:minLength value="8"/>
		<xs:maxLength value="8"/>
  </xs:restriction>
</xs:simpleType>

<xs:attribute name="codigoConglomerado" type="tipoConglomerado"/>
<xs:simpleType name="tipoConglomerado">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="C[0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		<xs:minLength value="8"/>
		<xs:maxLength value="8"/>
	</xs:restriction>
</xs:simpleType>

<xs:element name="limitesInformados" type="tipoLimitesInformados" >
	<xs:key name="pkCodigoLimite">
		<xs:selector xpath="limite"/>
		<xs:field xpath="@codigoLimite"/>
	</xs:key>
</xs:element>

<xs:complexType name="tipoLimitesInformados">
	<xs:sequence>
		<xs:element ref="limite" minOccurs="2" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:element name="limite" type="tipoLimite"/>
<xs:complexType name="tipoLimite">
	<xs:attribute ref="codigoLimite" use="required"/>
	<xs:attribute ref="enviado" use="required"/>
</xs:complexType>

<xs:attribute name="codigoLimite" type="tipoCodigoLimite"/>
<xs:simpleType name="tipoCodigoLimite">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[0-9]+\.00"/>
		<xs:minLength value="5"/>
		<xs:maxLength value="5"/>
  </xs:restriction>
</xs:simpleType>

<xs:attribute name="enviado" type="tipoEnviado"/>
<xs:simpleType name="tipoEnviado">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="S|N"/>
		<xs:minLength value="1"/>
		<xs:maxLength value="1"/>
  </xs:restriction>
</xs:simpleType>

<xs:element name="parametros" type="tipoParametros">
	<xs:key name="pkCodigoParametro">
		<xs:selector xpath="parametro"/>
		<xs:field xpath="@codigoParametro"/>
	</xs:key>
</xs:element>
<xs:complexType name="tipoParametros">
	<xs:sequence>
		<xs:element ref="parametro" minOccurs="1" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:element name="parametro" type="tipoParametro"/>
<xs:complexType name="tipoParametro">
	<xs:attribute ref="codigoParametro" use="required"/>
	<xs:attribute ref="valorParametro" use="required"/>
</xs:complexType>

<xs:attribute name="codigoParametro" type="tipoCodigoParametro"/>
<xs:simpleType name="tipoCodigoParametro">
	<xs:restriction base="xs:unsignedShort">
		<xs:whiteSpace value="collapse"/>
  </xs:restriction>
</xs:simpleType>

<xs:attribute name="valorParametro" type="tipoValorParametro"/>
<xs:simpleType name="tipoValorParametro">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="S|N|I|P|T|1|2|3|4|11|13|14|15|17|18||([(]?)([0-9]{2})([)]?)([-.]?)([0-9]{3,4})([-.]?)([0-9]{4})|[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-_]+\.[A-Za-z]{2,6}|((\w\w+)[ ]?)((\w+)[.]?[ ]?){0,}"/>
		<xs:minLength value="1"/>
		<xs:maxLength value="60"/>
  </xs:restriction>
</xs:simpleType>

<xs:element name="contas" type="tipoContas">
	<xs:key name="pkCodigoConta">
		<xs:selector xpath="conta"/>
		<xs:field xpath="@codigoConta"/>
	</xs:key>
</xs:element>
<xs:complexType name="tipoContas">
	<xs:sequence>
		<xs:element ref="conta" minOccurs="1" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:element name="conta" type="tipoConta"/>
<xs:complexType name="tipoConta">
	<xs:all>
		<xs:element ref="cliente" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="detalhamentosDLO" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="detalhamentosCosif" minOccurs="0" maxOccurs="1"/>
	</xs:all>
	<xs:attribute ref="codigoConta" use="required"/>
	<xs:attribute ref="valorConta" use="required"/>
	<xs:attribute ref="valorCosif"/>
</xs:complexType>

<xs:attribute name="codigoConta" type="tipoCodigoConta"/>
  <xs:simpleType name="tipoCodigoConta">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
        <xs:pattern value="[0-9]+(\.([0-9]+))*"/>
		<xs:minLength value="3"/>
		<xs:maxLength value="20"/>
  </xs:restriction>
</xs:simpleType>


<xs:attribute name="valorConta" type="tipoValorConta"/>
<xs:simpleType name="tipoValorConta">
	<xs:restriction base="xs:decimal">
		<xs:pattern value="(-){0,1}\d{1,14}(\.\d{1,2}){0,1}"/>
	</xs:restriction>
</xs:simpleType>

<xs:attribute name="valorCosif" type="tipoValorConta"/>

<xs:element name="detalhamentosDLO">
  <xs:complexType>
	<xs:sequence>
	  <xs:element ref="detalhamentoDLO" maxOccurs="unbounded" minOccurs="0"/>		
	</xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="detalhamentoDLO" type="tipoDetalhamento">
	<xs:key name="pkCodigoElemento">
		<xs:selector xpath="detalhe"/>
		<xs:field xpath="@codigoElemento"/>
	</xs:key>	
</xs:element>

<xs:element name="detalhamentosCosif" type="tipoDetalhamentosCosif">
	<xs:key name="pkCodigoCosif">
		<xs:selector xpath="detalhamentoCosif"/>
		<xs:field xpath="@codigoCosif"/>
	</xs:key>	
</xs:element>

<xs:complexType name="tipoDetalhamentosCosif">
	<xs:sequence>
	  <xs:element ref="detalhamentoCosif" maxOccurs="unbounded" minOccurs="0"/>		
	</xs:sequence>
</xs:complexType>  

<xs:element name="detalhamentoCosif">
	<xs:complexType>
	  <xs:simpleContent>
		<xs:extension base="xs:string">		  
		  <xs:attribute ref="codigoCosif" use="required"/>
		  <xs:attribute ref="saldoCosif" use="required"/>		  
		</xs:extension>
	  </xs:simpleContent>
	</xs:complexType>
</xs:element>

<xs:attribute name="codigoCosif" type="tipoCodigoCosif"/>
<xs:simpleType name="tipoCodigoCosif">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		<xs:minLength value="8"/>
		<xs:maxLength value="8"/>
	</xs:restriction>
</xs:simpleType>

<xs:attribute name="saldoCosif" type="tipoValorConta"/>


<xs:complexType name="tipoDetalhamento">
	<xs:sequence>
		<xs:element ref="detalhe" minOccurs="1" maxOccurs="unbounded"/>
	</xs:sequence>
	<xs:attribute ref="valorDetalhe" use="required"/>
</xs:complexType>

<xs:attribute name="valorDetalhe" type="tipoValorConta"/>

<xs:element name="detalhe" type="tipoDetalhe"/>
<xs:complexType name="tipoDetalhe">
	<xs:attribute ref="codigoElemento" use="required"/>
	<xs:attribute ref="valorElemento" use="required"/>
</xs:complexType>

<xs:attribute name="codigoElemento" type="tipoCodigoElemento"/>
<xs:simpleType name="tipoCodigoElemento">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[0-9]*"/>
		<xs:minLength value="1"/>
		<xs:maxLength value="2"/>
  </xs:restriction>
</xs:simpleType>

<xs:attribute name="valorElemento" type="tipoValorElemento"/>
<xs:simpleType name="tipoValorElemento">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[A-Z]{2,3}|(-)?[0-9]+(\.[0-9]{2,4})?" />
		<xs:minLength value="1"/>
		<xs:maxLength value="17"/>
  </xs:restriction>
</xs:simpleType>

<xs:element name="cliente" type="tpCliente" />
	<xs:complexType name="tpCliente">
		<xs:sequence>
			<xs:element ref="detalhamentosCliente" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="identificacaoCliente" use="required"/>
		<xs:attribute ref="nomeCliente" use="required"/>
		<xs:attribute ref="tipoCliente" use="required"/>
	</xs:complexType>

<xs:attribute name="identificacaoCliente" type="tipoIdentificacaoCliente"/>
<xs:simpleType name="tipoIdentificacaoCliente">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[^\r\n\|]+"/> 
		<xs:minLength value="1"/>   
		<xs:maxLength value="40"/>
	</xs:restriction>
</xs:simpleType>

<xs:attribute name="nomeCliente" type="tipoNomeCliente"/>
<xs:simpleType name="tipoNomeCliente">
	<xs:restriction base="xs:string">
		<xs:pattern value="[^\r\n\|]+"/>		
		<xs:minLength value="1"/>  
		<xs:maxLength value="40"/>
	</xs:restriction>
</xs:simpleType>

<xs:attribute name="tipoCliente" type="tipoCliente"/>
<xs:simpleType name="tipoCliente">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[0-9]*"/> 
		<xs:minLength value="1"/>
		<xs:maxLength value="2"/>
  </xs:restriction>
</xs:simpleType>

<xs:element name="detalhamentosCliente" type="tipoDetalhamentosCliente">
	<xs:key name="pkIdentificacaoParticipante">
		<xs:selector xpath="detalhamentoCliente"/>
		<xs:field xpath="@identificacaoParticipante"/>
	</xs:key>	
</xs:element>

<xs:complexType name="tipoDetalhamentosCliente">
	<xs:sequence>
	  <xs:element ref="detalhamentoCliente" minOccurs="0" maxOccurs="unbounded"/>		
	</xs:sequence>
</xs:complexType>  

<xs:element name="detalhamentoCliente">
<xs:complexType>
	<xs:simpleContent>
		<xs:extension base="xs:string">	
			<xs:attribute ref="identificacaoParticipante" use="required"/>
			<xs:attribute ref="razaoParticipante" use="required"/>
			<xs:attribute ref="tipoParticipante" use="required"/>		
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>
</xs:element>


<xs:attribute name="identificacaoParticipante" type="tipoIdentificacaoParticipante"/>
<xs:simpleType name="tipoIdentificacaoParticipante">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[^\r\n\|]+"/>
		<xs:minLength value="1"/>   
		<xs:maxLength value="40"/>
	</xs:restriction>
</xs:simpleType>

<xs:attribute name="razaoParticipante" type="tipoRazaoParticipante"/>
<xs:simpleType name="tipoRazaoParticipante">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[0-9]*"/> 
		<xs:minLength value="1"/>
		<xs:maxLength value="2"/>
    </xs:restriction>
</xs:simpleType>

<xs:attribute name="tipoParticipante" type="tipoTipoParticipante"/>
<xs:simpleType name="tipoTipoParticipante">
	<xs:restriction base="xs:string">
		<xs:whiteSpace value="collapse"/>
		<xs:pattern value="[0-9]*"/> 
		<xs:minLength value="1"/>
		<xs:maxLength value="2"/>
    </xs:restriction>
</xs:simpleType>

</xs:schema>